<div class="trifid-content">
  <div class="container">
    <h1>URL parameters</h1>
    <p>This page demonstrates some supported URL parameters.</p>

    <ul>
      <li>
        Compact mode:
        <a href="/data/person/penny?compactMode=false">false</a>
        -
        <a href="/data/person/penny?compactMode=true">true</a>
      </li>

      <li>
        Embed blank nodes:
        <a href="/data/person/penny?embedBlankNodes=false">false</a>
        -
        <a href="/data/person/penny?embedBlankNodes=true">true</a>
      </li>

      <li>
        Technical cues:
        <a href="/data/person/penny?technicalCues=false">false</a>
        -
        <a href="/data/person/penny?technicalCues=true">true</a>
      </li>

      <li>
        Debug:
        <a href="/data/person/penny?debug=false">false</a>
        -
        <a href="/data/person/penny?debug=true">true</a>
      </li>

      <li>
        Show named graphs:
        <a href="/data/person/penny?showNamedGraphs=false">false</a>
        -
        <a href="/data/person/penny?showNamedGraphs=true">true</a>
      </li>
    </ul>

    <p><a href="/">Go back to the homepage</a></p>
    <p><a href="/sparql">Run some SPARQL query</a></p>
  </div>
</div>
