<div class="trifid-content">
  <div class="container">
    <p>Welcome to this Trifid instance! 🎉</p>
    <p><a href="/data/person/penny">Have a look at some data</a></p>
    <p><a href="/parameters">See some of the supported parameters</a></p>
  </div>
</div>
