<div class="trifid-content">
  <div class="container">
    <p>Start exploring some data:</p>
    <ul>
      <li><a href="/data/person/penny">Example of entity</a></li>
      <li><a href="/sparql/">YASGUI</a>, to write some SPARQL queries</li>
      <li><a href="/graph-explorer/">Graph Explorer</a>, to explore the graph</li>
      <li><a href="/parameters">See some of the supported parameters</a></li>
    </ul>
  </div>
</div>
